<div class="container">
    <div class="box1">
        <span class="k-icon k-i-map-marker-target"></span>
        <h1 class="header1">Adresse</h1>
        <div class="location">
            <p>Siège Social et Usine</p>
            <p>7021 Zarzouna Raffinerie</p>
            <p>B.P</p>
            <p>45/46</p>
            <p>7018</p>
            <p>Bizerte</p>
        </div>

        

    </div>
    <div class="box2">
        <span class="k-icon k-i-envelop"></span>
        <h1 class="header2">E-mail</h1>
        <p class="email">Stir@Stir.com.tn</p>
    </div>
    <div class="box3">
        <span class="k-icon k-i-facebook"></span>
        <h1 class="header3">Facebook</h1>
        <a class="facebook" (click)="goTofb()"><p>
            Suivez-nous
        </p>
    </a>
    </div>

</div>
